<form action="/music" method="post">
  <label for="discArtist">Add a new disc artist</label>
  <input id="discArtist" name="discArtist" type="text">
  <label for="discGenre">Add a new disc genre</label>
  <input id="discGenre" name="discGenre" type="text">
  <button type="submit">Submit</button>
</form>